.App {
  background-color: #ffffff;
  height: 100vh;
  width:100%;
  text-align: center;
}

.title {
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.front{
  display: block;
   width: 100%;
  height: 70vh; 
  object-fit: cover;
  margin: 0 auto 1.5rem auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.picBy{
  font-size: 1.8rem;
  color: #555;
  margin-left: 8rem;
}

.aboutTitle {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.about {
  font-size: 5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.footer{
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
