.momDaughterPic {
  display: block;
  width: 100%;
  height: 80vh; 
  object-fit: cover;
  margin: 0 auto 1.5rem auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background-color: #fefefe; 
  color: #000000;
}

.contactTitle{
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.contact {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #000000;
}

.questionsTitle {
  background-color: #d8b4fe; /* Light purple background */
  color: black; /* Black text */
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(162, 94, 255, 0.6); /* Purple glow */
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
}

.contactList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.contactList li {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  color: #030303;
}